@font-face {
    font-family: 'Shrikhand';
    src: url(../Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../../../Font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(../Roboto-Thin.ttf);
}