@font-face {
  font-family: 'Shrikhand';
  src: url(../../Shrikhand-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../../Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../../../../Font/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url(../../Roboto-Thin.ttf);
}

/*Colors*/
/*Breakpoints*/
/*Color hues*/
.footer {
  margin-top: 0px;
  background-color: #585353;
  line-height: 1.5;
}

.footer ul {
  margin-left: 20px;
}

.footer h2 {
  font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
  color: #FFF;
}

.footer a {
  color: #FFF;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.footer--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}

.footer--image i {
  padding-right: 15px;
}

.footer--image p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header {
  background-color: #FFF;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header i {
  font-size: 1.5em;
  position: absolute;
  top: 23px;
  left: 20px;
}

.header--accueil {
  position: relative;
  -webkit-box-shadow: 0 4px 2px -2px lightgrey;
          box-shadow: 0 4px 2px -2px lightgrey;
  text-align: center;
  width: 100%;
}

.btn {
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  font-size: 1em;
  border: none;
  background-color: #FF79DA;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 215px;
  color: #FFF;
  -webkit-box-shadow: 0 1px 15px 0.5px #80808045;
          box-shadow: 0 1px 15px 0.5px #80808045;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7;
}

.restaurant-list__item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/*image cards*/
.restaurant-card {
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 15px 0.5px #80808045;
          box-shadow: 0 1px 15px 0.5px #80808045;
  width: 330px;
  height: 265px;
  margin: 20px;
}

.restaurant-card img {
  width: 330px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurant-card__description {
  margin: -10px 0px 0 0;
  background-color: #FFF;
  padding: 12px 0px 6px 0px;
  border-radius: 0 0 20px 20px;
}

.restaurant-card__text {
  padding: 0px 10px;
  margin: 5px;
}

.restaurant-card--bold {
  font-weight: bold;
}

.restaurant-card__new {
  position: absolute;
  margin-left: 220px;
  margin-top: -195px;
  font-weight: bold;
  background: #99E2D0;
  padding: 8px;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  color: #278870;
}

.restaurant-card i {
  position: absolute;
  margin-left: 285px;
  margin-top: -35px;
  font-size: 1.5em;
}

.loader {
  position: absolute;
  font-family: 'Shrikhand';
  font-size: 40px;
  color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0px;
  background: #9356DC;
  -webkit-animation: loader 4s ease-out;
          animation: loader 4s ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
  z-index: -1;
}

.loader::after {
  content: '\2026';
  color: #FF79DA;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-animation: point steps(4, end) 2s infinite;
          animation: point steps(4, end) 2s infinite;
  width: 0;
}

@-webkit-keyframes point {
  to {
    width: 1em;
  }
}

@keyframes point {
  to {
    width: 1em;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 55;
    visibility: visible;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 55;
    visibility: visible;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1500px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

h1 {
  font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: 10px 0;
}

h3, h4, p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2 {
  font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 50px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container--header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--header i {
  font-size: 1.5em;
  position: absolute;
  top: 45px;
  left: 20px;
}

.container--grey {
  background-color: #F8F8F8;
  padding-bottom: 20px;
}

.container img {
  width: 100%;
}

.container--restaurant {
  border-radius: 40px 40px 0 0;
  margin-bottom: 0;
  margin-top: -40px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__main-image {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}

.location {
  margin: 0px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
}

.location i {
  padding: 20px;
}

.location input {
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #eeeeee;
}

.explore {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 40px 20px;
  text-align: center;
}

.explore h2 {
  margin-bottom: 10px;
}

.explore p {
  margin-top: 10px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description p {
  border-radius: 50%;
  color: #FFF;
  padding: 3px 7px;
  background-color: #9356DC;
  margin-right: -11PX;
  z-index: 1;
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 300px;
  background-color: #F8F8F8;
  -webkit-box-shadow: 0 1px 15px 0.5px #80808045;
          box-shadow: 0 1px 15px 0.5px #80808045;
}

.description__text p {
  color: #000000;
  background-color: transparent;
}

.description:hover i {
  color: #9356DC;
}

.description:hover .description__text {
  background-color: rgba(147, 86, 220, 0.1);
}

.presentation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.presentation li i {
  padding: 20px;
}

.restaurant-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.restaurant-name h1 {
  font-size: 1.5em;
}

.restaurant-name i {
  font-size: 1em;
  padding: 20px;
}

.menu {
  width: 350px;
}

.menu__title {
  text-transform: uppercase;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  display: table;
}

.menu__title::after {
  border-bottom: 3px solid #99E2D0;
  content: '';
  display: block;
  width: 60%;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 1px 15px 0.5px #80808045;
          box-shadow: 0 1px 15px 0.5px #80808045;
  border-radius: 15px;
  margin: 20px 0;
  padding: 0 10px 5px 10px;
  -webkit-animation: slidein .5s ease-in .5s;
          animation: slidein .5s ease-in .5s;
}

.menu__item:hover {
  cursor: pointer;
}

.menu__item:hover .menu__item--text {
  width: 208px;
}

.menu__item:hover h4 {
  width: 181px;
}

.menu__item:hover i {
  -webkit-transition: 1s;
  transition: 1s;
  left: 0px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: rotation 600ms linear;
          animation: rotation 600ms linear;
}

.menu__item:hover .menu__item--select {
  background-position: right;
}

.menu__item:hover .menu__item--price {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.menu__item h4 {
  margin: 10px 0 5px 0;
  width: 266px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.menu__item--price {
  position: absolute;
  margin-left: 290px;
  margin-top: -23px;
  font-weight: bold;
  -webkit-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
}

.menu__item--text {
  margin: 5px 0;
  width: 266px;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.menu__item--select {
  width: 62px;
  height: 62px;
  position: absolute;
  overflow: hidden;
  /* BORDER: solid 1px; */
  border-radius: 0 15px 15px 0;
  background: #FFF;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #99E2D0), color-stop(50%, #FFF)) left;
  background: linear-gradient(to left, #99E2D0 50%, #FFF 50%) left;
  background-size: 200%;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 288px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item i {
  color: white;
  /*background-color: $color-tertiary;*/
  position: absolute;
  left: 62px;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 26px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  85% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  85% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fas.fa-heart {
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}

.heart {
  font-size: 1.5em;
}

.heart:hover .fas.fa-heart {
  display: block;
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
}

.heart:hover .far.fa-heart {
  display: none;
}

.heart--home {
  position: absolute;
  font-size: 1.5em;
  left: 300px;
  top: 222px;
  height: 27px;
  width: 27px;
}

.heart--home:hover .fas.fa-heart {
  display: block;
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
}

.heart--home:hover .far.fa-heart {
  display: none;
}
/*# sourceMappingURL=styles.css.map */