/*Colors*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: #000000;
$color-grey: #F8F8F8;
$color-darkgrey: #D8D8D8;
$color-white: #FFF;
$color-footer: #585353;

$box-shadow: 0 1px 15px 0.5px #80808045;


    
